body {
    margin: 0;
    padding-bottom: 30px;
    background: linear-gradient(#e66465, #9198e5);
    color:white;
 }
 
 
 
 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vw;
    margin-top: 20px;
 }
 
 h2 {
    font-size: 3vw;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 h3 {
    font-size: 3vw;
    margin-top: 15px;
 }
 
 .startPoint {
    font-size: 2vw;
    width: 70vw;
    color: #483D8B;
 }
 
 .endPoint {
    font-size: 2vw;
    width: 70vw;
    color: #483D8B;
 }
 
 .btn {
    color: #483D8B;
 }
 
 #mapContainer {
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 5px;
 }
 
 Message Input
 
 Message hck